<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Profile</title>
</head>
<body>
<a th:href="@{/}">Home</a>
<h1>User Profile</h1>
<p>Name: <span th:text="${user.userName}"></span></p>
<p>Email: <span th:text="${user.email}"></span></p>
<p>Score: <span th:text="${userProfile.score}"></span></p>
<p>Wins: <span th:text="${userProfile.wins}"></span></p>
<p>Losses: <span th:text="${userProfile.losses}"></span></p>
<p>Win Ratio: <span th:text="${userProfile.winLossRatio}"></span></p>
</body>
</html>